@{
    ViewData["Title"] = "Home";
    Layout = "Layout";
}

<style>
    .header-style-5 #site-header {
        background-color: black !important;
    }
</style>


<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Nos Services</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="index" title="Construction" rel="home" class="trail-begin">Home</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Nos Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="110" data-mobi="30" data-smobi="30"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-4">

                                    <div class="service-item clearfix">
                                        <div class="thumb"><img src="~/assets1/img/services/7.jpg" alt="image" /></div>
                                        <div class="service-item-wrap">
                                            <h3 class="title font-size-18"><a href="~/Home/service">L’étude, la réalisation, la plantation et l’entretien des espaces verts </a></h3>
                                            <p>•	Faire étudier le sol où va être créé le jardin : autour d'une construction neuve, le sol est souvent très compact et contient des résidus de travaux (ciments, produits calcaires, sable). Il est nécessaire d'aérer le terrain et de le "dépolluer" ...</p>
                                            <a href="~/Home/service" class="wprt-button small rounded-3px">LIRE LA SUITE</a>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="60" data-mobi="30" data-smobi="30"></div>

                                   
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div class="service-item clearfix">
                                        <div class="thumb"><img src="~/assets1/img/services/8.jpg" alt="image" /></div>
                                        <div class="service-item-wrap">
                                            <h3 class="title font-size-18"><a href="~/Home/service2">Travaux de revêtement, d’assainissement et tous travaux divers </a></h3>
                                            <p>Un revêtement a pour but d'améliorer les propriétés des surfaces. Par exemple, les revêtements peuvent servir pour préserver ou améliorer l'apparence, l'adhésion, la résistance à la corrosion, la mouillabilité ou ajuster les propriétés des surfaces considérées face aux contraintes ...</p>
                                            <a href="~/Home/service2" class="wprt-button small rounded-3px">LIRE LA SUITE</a>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="60" data-mobi="30" data-smobi="30"></div>

                                    
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div class="service-item clearfix">
                                        <div class="thumb"><img src="~/assets1/img/services/9.jpg" alt="image" /></div>
                                        <div class="service-item-wrap">
                                            <h3 class="title font-size-18"><a href="~/Home/service3">Génie civil </a></h3>
                                            <p> Le domaine d'application du génie civil est très vaste ; il englobe les travaux publics et le bâtiment. Il comprend notamment :<br />
                                               •	le gros œuvre en général, quel que soit le type de construction ou de bâtiment, comme les gratte-ciel. Ce domaine recouvre deux catégories distinctes ...
                                           </p>
                                            <a href="~/Home/service3" class="wprt-button small rounded-3px">LIRE LA SUITE</a>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="60" data-mobi="30" data-smobi="30"></div>

                                    
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

