@{
    ViewData["Title"] = "Home";
    Layout = "Layout";
}

<style>
    .header-style-5 #site-header {
        background-color: black !important;
    }
</style>



<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Service Detail</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="#" title="Construction" rel="home" class="trail-begin">Home</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Service Detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-7">
                                    <div class="wprt-galleries galleries w-770px" data-width="142" data-margin="15">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                               <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/espaces verts.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/espaces verts.png" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/espaces verts1.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/espaces verts1.png" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/espaces verts2.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/espaces verts2.png" alt="image" />
                                                </li>
                                                 <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/espaces verts3.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/espaces verts3.png" alt="image" />
                                                </li>
                                                
                                                  <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/espaces verts5.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/espaces verts5.png" alt="image" />
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                 <li><img src="~/assets1/img/gallery/espaces verts.png" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/espaces verts1.png" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/espaces verts2.png" alt="image"></li>

                                                <li><img src="~/assets1/img/gallery/espaces verts3.png" alt="image"></li>
                                               
                                                <li><img src="~/assets1/img/gallery/espaces verts5.png" alt="image"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-8 -->

                                <div class="col-md-5">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

                                    <h4 class="line-height-normal margin-bottom-10">L’étude, la réalisation, la plantation et l’entretien des espaces verts : </h4>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                       
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                    

                                    <ul class="wprt-list style-2 accent-color margin-top-30 margin-bottom-30">
                                        <li>Faire étudier le sol où va être créé le jardin : autour d'une construction neuve, le sol est souvent très compact et contient des résidus de travaux (ciments, produits calcaires, sable). Il est nécessaire d'aérer le terrain et de le "dépolluer"</li>
                                        <li>Envisager le terrassement : creuser et aplanir pour un meilleur rendu, apporter de la bonne terre en supplément si besoin</li>
                                        <li>Choisir des cultures et végétaux adaptés à vos sols et à l'environnement.</li>
                                        <li>Anticiper le volume (hauteur et largeur) que les végétaux prendront à taille adulte, notamment les haies et les arbres. Ils ne devront pas gêner le voisinage. Les travaux d’entretien espaces verts seront à votre charge et suivent une réglementation stricte (horaires de taille et de tontes pour les nuisances sonores dues aux appareils, dimensions maximales, etc.)</li>
                                        <li>Faire appel à spécialiste pour vos travaux paysagers : ils ont un œil d'expert qui vous permettra de gagner du temps dans la conception. Ils vous écouteront tout en vous soumettant des idées auxquelles vous n'auriez pas pensé.</li>
                                        <li>Imaginez le temps pris au final par l'entretien de jardin</li>
                                        <li>Faites passer à la réalisation de la plantation.</li>
                                    </ul>

                                    
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
