@{
    ViewData["Title"] = "Home";
    Layout = "Layout";
}

<style>
    .header-style-5 #site-header {
        background-color: black !important;
    }
</style>



<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Service Detail</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="#" title="Construction" rel="home" class="trail-begin">Home</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Service Detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-6">
                                    <div class="wprt-galleries galleries w-770px" data-width="142" data-margin="15">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/1-b.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/1-b.jpg" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/2-b.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/2-b.jpg" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/3-b.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/3-b.jpg" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/4-b.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/4-b.jpg" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/1-b.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/1-b.jpg" alt="image" />
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="~/assets1/img/gallery/1-s.jpg" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/2-s.jpg" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/3-s.jpg" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/4-s.jpg" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/1-s.jpg" alt="image"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-8 -->

                                <div class="col-md-6">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

                                    <h4 class="line-height-normal margin-bottom-10">Génie civil :</h4>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                    <p> Le domaine d'application du génie civil est très vaste ; il englobe les travaux publics et le bâtiment. Il comprend notamment : </p>
                                 

                                    <ul class="wprt-list style-2 accent-color margin-top-30 margin-bottom-30">
                                        <li>le gros œuvre en général, quel que soit le type de construction ou de bâtiment, comme les gratte-ciel. Ce domaine recouvre deux catégories distinctes :
                                            <ul>
                                                <lo>•	le dimensionnement d'une structure nouvelle ;</lo><br />
                                                <lo>•	la réhabilitation d'une structure existante, appelé aussi conservation d'ouvrages existants (expertise et/ou projet d'intervention) ;</lo>
                                            </ul>
                                        </li>
                                        <li>les constructions industrielles : usines, entrepôts, réservoirs, etc. ;</li>
                                        <li>les infrastructures de transport : routes, voies ferrées, ouvrages d'art, canaux, ports, tunnels, etc. ;</li>
                                        <li>les constructions hydrauliques : barrages, digues, jetées, etc. ;</li>
                                        <li>les infrastructures urbaines : aqueducs, égouts, etc.</li>

                                    </ul>
                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                                    <p>Un projet de génie civil peut être scindé en plusieurs phases, souvent confiées à des organismes différents :</p>

                                    <ul class="wprt-list style-2 accent-color margin-top-30 margin-bottom-30">
                                        <li>la planification qui consiste à intégrer le projet dans un ensemble de plans directeurs ;</li>
                                        <li>la conception, qui inclut la réalisation des études détaillées d'avant-projet ;</li>
                                        <li>le dimensionnement, qui consiste à déterminer les dimensions des éléments constitutifs de la future réalisation ;</li>
                                        <li>l'appel d'offres qui permet de planifier la réalisation, notamment le coût de celle-ci, et de choisir l'entreprise qui en aura la charge ;</li>
                                        <li>l'exécution de la construction, qui inclut l'élaboration du projet définitif. Différents corps de métiers interviennent dans la réalisation d'un ouvrage :
                                            <ul>
                                                <lo>1.	Les études techniques entrent dans le détail de la phase de dimensionnement et établissent les plans de construction. Ensuite, interviennent les méthodes qui valident la faisabilité des plans de construction et définissent le mode et les outils de construction ;</lo><br />
                                                <lo>2.	Le département de production : fondation, terrassements, gros œuvre, corps d'états secondaires, corps d'états techniques, corps d'états architecturaux, équipements ;</lo>
                                            </ul>
                                        </li>
                                        <li>les réceptions provisoire et finale de l'ouvrage ;</li>
                                        <li>l'exploitation et l'entretien de l'ouvrage.</li>
                                    </ul>

                                    
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
