@{
    ViewData["Title"] = "Home";
    Layout = "Layout";
}

<style>
    .header-style-5 #site-header {
        background-color: black !important;
    }
</style>



<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Service Detail</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="#" title="Construction" rel="home" class="trail-begin">Home</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Service Detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-7">
                                    <div class="wprt-galleries galleries w-770px" data-width="142" data-margin="15">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/Travaux de revêtement1.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/Travaux de revêtement1.jpeg" alt="image" />
                                                </li>
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/Travaux de revêtement.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/Travaux de revêtement.jpeg" alt="image" />
                                                </li>

                                                <li  class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/assainissement.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/assainissement.png" alt="image" />
                                                </li>
                                                 <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/assainissement1.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/assainissement1.png" alt="image" />
                                                </li>
                                                  <li class="flex-active-slide">
                                                    <a class="zoom" href="~/assets1/img/gallery/assainissement2.jpeg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets1/img/gallery/assainissement2.jpeg" alt="image" />
                                                </li>
                                                
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="~/assets1/img/gallery/Travaux de revêtement1.jpeg" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/Travaux de revêtement.jpeg" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/assainissement.png" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/assainissement1.png" alt="image"></li>
                                                <li><img src="~/assets1/img/gallery/assainissement2.jpeg" alt="image"></li>

                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-8 -->

                                <div class="col-md-5">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

                                    <h4 class="line-height-normal margin-bottom-10">Travaux de revêtement, d’assainissement et tous travaux divers :</h4>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                   

                                    <ul class="wprt-list style-2 accent-color margin-top-30 margin-bottom-30">
                                        <li><strong>Un revêtement </strong> a pour but d'améliorer les propriétés des surfaces. Par exemple, les revêtements peuvent servir pour préserver ou améliorer l'apparence, l'adhésion, la résistance à la corrosion, la mouillabilité ou ajuster les propriétés des surfaces considérées face aux contraintes mécaniques et aux différents éléments de l'environnement extérieur (ultraviolets, eau, oxydation (corrosion), température, moisissures, etc.).</li>
                                        <li><strong>Les travaux d’assainissement </strong> sont destinés à assurer la mise en place d’un système d’évacuation des eaux usées de la demeure.</li>
                                        <li><strong>Les travaux d’assainissement </strong> peuvent être de deux types distincts. Si la nouvelle maison est située dans un périmètre desservi, elle doit être raccordée au tout à l’égout. Cette solution est la plus simple et la moins onéreuse, mais elle n’est pas possible en habitat diffus. Il faut dans ce cas faire creuser une fosse septique : il est strictement interdit de répandre ses effluents dans la nature, pour des raisons sanitaires évidentes!</li>
                                       
                                    </ul>

                                    
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
