@model GestionEmployes.Models.CategorieProduit

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}



        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" readonly class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group row container">
                <input type="submit" value="Enregistrer" class="btn btn-primary col" />&nbsp;&nbsp;&nbsp;
                <input onclick="hideModalLayout()" value="Retour" class="btn btn-secondary text-white col"/>
            </div>
        </form>
  
        <script src="~/JavaScript/myjs.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
