@model GestionEmployes.ViewModel.CommandeProduitOveierViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">NOUVEAU COMMANDE</h1>

<hr />
<br />
<div class="row ">
    <div class="col-md-8 container">

        @if (ViewBag.MessageQtt != null)
        {
            <h4 class="alert alert-danger">@ViewBag.MessageQtt</h4>
        }

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group col">
            <h3>Produit</h3>
            <select asp-for="idProduit" class="form-control" asp-items="@(new SelectList(Model.produits,"Id","Desgination"))"></select>
            <span asp-validation-for="idProduit" class="text-danger"></span>
        </div><br />
    
        <div class="form-group col">
            <h3>Qauntite</h3>
            <input asp-for="Qtt_Diduir" class="form-control" />
            <span asp-validation-for="Qtt_Diduir" class="text-danger"></span>
        </div><br />

        <div class="form-group col row container">
            <input type="submit" value="Commander" class="btn btn-primary btn-lg col" />&nbsp;&nbsp;&nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-outline-info btn-lg col">Retour</a>
        </div>
    </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
