@model GestionEmployes.ViewModel.CommandeProduitOveierViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}




@if (ViewBag.MessageQtt != null)
{
    <h4 class="alert alert-danger">@ViewBag.MessageQtt</h4>
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group col">
        <h4>Produit</h4>
        <select asp-for="idProduit" class="form-control" asp-items="@(new SelectList(Model.produits,"Id","Desgination"))"></select>
        <span asp-validation-for="idProduit" class="text-danger"></span>
    </div>

    <div class="form-group col">
        <h4>Qauntite</h4>
        <input asp-for="Qtt_Diduir" min="1" class="form-control" required />
        <span asp-validation-for="Qtt_Diduir" class="text-danger"></span>
    </div><br />

    <div class="form-group col row container">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Commander" class="btn btn-primary col" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" onclick="hideModalLayout()" class="btn btn-secondary col" value="Retour" />
    </div>
</form>

<script src="~/JavaScript/myjs.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
