@model GestionEmployes.Models.repositories.Projet

@{
    ViewData["Title"] = "Create";
     Layout = null;
}


<div class="row">
    <div class=" container">
        @if(@ViewBag.msg != null)
            {
                <h3 class="alert-danger">@ViewBag.msg</h3>
            }
        <form id="FormProjet" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label >Nom de projet</label>
                <input asp-for="Nom_projet" id="Nom_projet" class="form-control" />
                <span asp-validation-for="Nom_projet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Date de debut</label>
                <input type="date" required asp-for="Date_debut" id="Date_debut" class="form-control" />
                <span asp-validation-for="Date_debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  >Date de fin</label>
                <input  type="date" required asp-for="Date_fin" id="Date_fin" class="form-control" />
                <span asp-validation-for="Date_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etat" class="control-label"></label>
                <input asp-for="Etat" id="Etat" class="form-control" />
                <span asp-validation-for="Etat" class="text-danger"></span>
            </div>

            

             <div class="form-group mt-3" >
                  <input type="checkbox" id="AddListEq">
                  <label for="AddListEq">Ajouter des equipes</label> 
            </div>

            <div class="form-group" id="show-eq">
             
            </div>
              
            <div class="form-group d-flex justify-content-center mt-3">
                
              
                <input type="submit" value="Ajouter" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

 <script src="~/templ/MyJs.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
