@model GestionEmployes.Models.Overier

@{
    ViewData["Title"] = "Create";

       Layout = null;

}


<div class="row ">
    <div class="col-md-12 container">  

        <form id ="formemp" runat="server">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <img id="Image1" src="~/uploads/default1.jpg" style="width:100px" class="img-thumbnail" />

                </div>
            
                <div class="col-md-8"> 
                 <div class="form-group">
                            <label asp-for="File" class="control-label">Photo</label>
                            <input type="file" id="file" class="form-control" name="file"  />
                         
                         
                            <span asp-validation-for="File" class="text-danger"></span>
                  </div>
            </div>
          
               </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nom" class="control-label">Nom</label>
                        <input asp-for="Nom" required id="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" required id="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <textarea type="" asp-for="Adress"  id="Adress" class="form-control" ></textarea>
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
                 <div class="row">
                <div class="col-md-6">  
                    <div class="form-group">
                        <label asp-for="Tel" class="control-label">Téléphone</label>
                        <input asp-for="Tel"id="Tel" required class="form-control" />
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date_embauche" class="control-label">Date d'embauche</label>
                        <input type="date" id="date" asp-for="Date_embauche" class="form-control" />
                        <span asp-validation-for="Date_embauche" class="text-danger"></span>
                    </div>

                </div>

            </div>
         
            
                 <div class="row">
                <div class="col-md-6">  
                    <div class="form-group">
                        <label asp-for="CIN" class="control-label"></label>
                        <input asp-for="CIN" required id="CIN" class="form-control" />
                        <span asp-validation-for="CIN" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sexe" class="control-label">Gender</label>
                        <select class="form-select mb-3" id="Sexe" asp-for="Sexe"  >
                            <option value="Homme" selected>Homme</option>
                            <option value="Femme">Femme</option>
                        </select>
                        <span asp-validation-for="Sexe" class="text-danger"></span>
                    </div>

                </div>

            </div>
          
          
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label asp-for="Type" class="control-label"></label>
                             <select class="form-select mb-3" asp-for="Type" id="type">
                                 <option value="chef" selected>Chef Chantie</option>
                                 <option value="overier">Ouvrier</option>
                                 <option value="admin">Admin</option>
                             </select>
                             <span asp-validation-for="Type" class="text-danger"></span>
                         </div>

                     </div>
                     <div class="col-md-6">
                         <div id="categorieO">
                         </div>
                     </div>

                 </div>
            <div class="row">
                 <div class="col-md-6">
                     <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" required id="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                 </div>
                  <div class="col-md-6"> 
                      <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" required type="text" id="Password" class="form-control" />
                              <button type="button" class="btn  btn-secondary getNewPass"><i class="mdi mdi-refresh"></i> </button>
                                <div class="input-group-text" onclick="myFunction()"  data-password="false">
                                    <span class="password-eye"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                       </div>
                 </div>
            </div>
         

           <div class="row">
               <div class="col-md-6">
                   <div class="form-group" >
                        <label  asp-for="Salaire" class="control-label">Salaire</label>
                        <input  asp-for="Salaire" required id="Salaire" class="form-control" />
                        <span asp-validation-for="Salaire" class="text-danger"></span>
                    </div>

               </div>
               
           </div>
            
          
            
            
            
           
          
          
           <div class="form-group mt-3" >
               <input type="checkbox" id="BtnAddEquipe">
                  <label for="BtnAddEquipe">Ajouter employe dans une equipe</label>
                
               
            </div>
            
            <div class="form-group inp-equipe" id="inp-equipe">
       
             </div>

              <div class="form-group d-flex justify-content-center mt-3">
                <input type="submit" id="ajtEml" value="Ajouter Employe" class="btn btn-success btn-rounded" />
            </div>
        </form>
    </div>
</div>

        <script src="~/templ/MyJs.js"></script>

        <script>
           

        </script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
