@model GestionEmployes.Models.Overier

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}



<h4>Voulez-vous vraiment supprimer cette employe ?</h4>

<div class="container mt-3">
   
   
          <h22 class="table-avatar text-uppercase font-weight-bold"><a class="avatar avatar-sm mr-2">
                  <img id="avatareround" class="avatar-img rounded-circle" src="~/uploads/@Model.Image" alt="User Image"></a><text>&nbsp;</text>
                  <a>@Html.DisplayFor(modelItem => Model.Nom) <text>&nbsp;</text> @Html.DisplayFor(modelItem => Model.Prenom) </a>
              </h22>
    
    <form asp-action="Delete" class="d-flex justify-content-end mt-3">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger btn-rounded" />
        
    </form>
</div>
